.terraform/

*.tfstate
*.tfstate.*

crash.log

*.tfplan

override.tf
override.tf.json
*_override.tf
*_override.tf.json

terraform.tfvars
terraform.tfvars.json

*.backup
*.bak


node_modules/
build/
dist/
.env
.env.local
.env.development
.env.test
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store